.main-jeu {
  display: flex;
  gap: 80px;
  align-items: flex-start;
}

.page-jeu {
  max-width: 1300px;
  margin: 80px auto;
  padding: 0 40px;
}

#jeu-image {
  width: 420px;
  height: 520px;
  border-radius: 12px;
  object-fit: cover;
}

#titre-jeu{
  color: #243163;
}

.info-jeu {
  max-width: 500px;
}

.info-jeu h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}

.note-jeu {
margin-bottom: 25px;
}

#chiffre-note {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
  color: #243163;
}

#etoile-note {
  display: flex;
  gap: 6px;
  font-size: 26px;
}

.star {
  color: #c4c4c4;
}

.star.filled {
  color: #f5b301;
}

.info-jeu p {
  margin: 14px 0;
  font-size: 16px;
  line-height: 1.4;
}

.autres-jeux {
  margin-top: 90px;
}

.autres-jeux h3 {
  font-size: 22px;
  margin-bottom: 40px;
  color: #28335f;
}

#container-autres-jeux {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
}

#container-autres-jeux a {
  text-decoration: none;
  color: inherit;
}

#container-autres-jeux img {
  width: 100%;
  height: 280px;
  background-color: #28335f;
  object-fit: cover;
}

#container-autres-jeux p {
  margin-top: 12px;
  font-size: 16px;
}

#stores-jeu a {
  color:#28335f;
  text-decoration: none;
}

#stores-jeu a:hover {
  color: black;
  text-decoration: underline;
}
@media (max-width: 900px) {
  .main-jeu {
    flex-direction: column;
    align-items: center;
  }

  #jeu-image {
    width: 100%;
    max-width: 420px;
  }

  .info-jeu {
    max-width: 100%;
    text-align: center;
  }

  #etoile-note {
    justify-content: center;
  }

  #container-autres-jeux {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  
  }


}
