/* Styles for jeux.html page */

.games-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-between;
  margin-top: 5%;
}

.game-card {
  width: calc(33.333% - 40px);
  text-align: center;
}

.game-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  background-color: #27315b;
}

@media (max-width: 1024px) {
  .game-card {
    width: calc(50% - 30px);
  }
}

@media (max-width: 900px) {
  .games-list {
    margin-top: 10%;
}
}

@media (max-width: 600px) {
  .game-card {
    width: 100%;
  } 
    
  #LogoFooter {
    width: 150px;
  }
    
  .footer-contact,
  .footer-plan {
    text-align: center;
  }
    
  .footer-contact h3,
  .footer-plan h3 {
    font-size: 20px;
  }
    
  .footer-contact p,
  .footer-plan a {
    font-size: 14px;
  }
}