body {
  font-family: "hyperspace-race-cap-variable", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #243163;
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding: 10px 30px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

header img{
  width: 10%;
  margin: 5px;
}

nav a {
  color: #ffffff;
  width: 25%;
  margin-left: 20px;
  font-size: 1.5rem;
  text-decoration: none;
}
 
main {
  color: #243163;
  margin: 50px;
  font-size: 1.0rem;
  text-decoration: none;
}

#maingame {
  width: 100%;
}

footer {
  background-color: #243163;
  padding: 60px 0;
  color: white;
  font-family: "hyperspace-race-cap-variable", sans-serif;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#LogoFooter{
  width: 50%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-contact h3,
.footer-plan h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.footer-contact p {
  margin: 5px 0;
  font-size: 16px;
}

.footer-separator {
  width: 2px;
  height: 120px;
  background-color: white;
}

.footer-plan ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-plan li {
  margin-bottom: 10px;
}

.footer-plan a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.footer-plan a:hover {
  text-decoration: underline;
}

.main-jeu {
  display: flex;
  gap: 80px;
  align-items: flex-start;
}

.page-jeu {
  max-width: 1300px;
  margin: 80px auto;
  padding: 0 40px;
}

#jeu-image {
  width: 420px;
  height: 520px;
  border-radius: 12px;
  object-fit: cover;
}

#titre-jeu{
  color: #243163;
}

.info-jeu {
  max-width: 500px;
}

.info-jeu h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}

.note-jeu {
margin-bottom: 25px;
}

#chiffre-note {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
  color: #243163;
}

#etoile-note {
  display: flex;
  gap: 6px;
  font-size: 26px;
}

.star {
  color: #c4c4c4;
}

.star.filled {
  color: #f5b301;
}

.info-jeu p {
  margin: 14px 0;
  font-size: 16px;
  line-height: 1.4;
}

.autres-jeux {
  margin-top: 90px;
}

.autres-jeux h3 {
  font-size: 22px;
  margin-bottom: 40px;
  color: #28335f;
}

#container-autres-jeux {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
}

#container-autres-jeux a {
  text-decoration: none;
  color: inherit;
}

#container-autres-jeux img {
  width: 100%;
  height: 280px;
  background-color: #28335f;
  object-fit: cover;
}

#container-autres-jeux p {
  margin-top: 12px;
  font-size: 16px;
}

#stores-jeu a {
  color:#28335f;
  text-decoration: none;
}

#stores-jeu a:hover {
  color: black;
  text-decoration: underline;
}

@media (max-width: 900px) {
  header img{
    width: 23%;
    margin: 3px;
  }

  nav a {
    font-size: 1rem;
    margin-left: 15px;
  }

  .main-jeu {
    flex-direction: column;
    align-items: center;
  }

  #jeu-image {
    width: 100%;
    max-width: 420px;
  }

  .info-jeu {
    max-width: 100%;
    text-align: center;
  }

  #etoile-note {
    justify-content: center;
  }

  #container-autres-jeux {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .footer-container {
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
    }
    
  .footer-separator {
    width: 80%;
    height: 2px;
  }
    
  #LogoFooter {
    width: 150px;
  }
    
  .footer-contact,
  .footer-plan {
    text-align: center;
  }
    
  .footer-contact h3,
  .footer-plan h3 {
    font-size: 20px;
  }
    
  .footer-contact p,
  .footer-plan a {
    font-size: 14px;
  }
}