body {
    font-family: "hyperspace-race-cap-variable", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #243163;
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 10px 30px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

header img{
    width: 10%;
    margin: 5px;
}

nav a {
    color: #ffffff;
    width: 25%;
    margin-left: 20px;
    font-size: 1.5rem;
    text-decoration: none;
}	

main {
	color: #243163;
	margin: 50px;
	font-size: 1.0rem;
	text-decoration: none;
}

#maingame {
	width: 100%;
}
footer {
    background-color: #243163;
    padding: 60px 0;
    color: white;
    font-family: "hyperspace-race-cap-variable", sans-serif;
  }
  
.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
 }
  
 #LogoFooter{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .footer-contact h3,
.footer-plan h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.footer-contact p {
  margin: 5px 0;
  font-size: 16px;
}

.footer-separator {
  width: 2px;
  height: 120px;
  background-color: white;
}

.footer-plan ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-plan li {
  margin-bottom: 10px;
}

.footer-plan a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.footer-plan a:hover {
  text-decoration: underline;
}
  
